<div id="<%= dom_id show %>">
  <p>
    <strong>Band:</strong>
    <%= show.band %>
  </p>

  <p>
    <strong>Doors:</strong>
    <%= show.doors %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= show.venue %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= show.date %>
  </p>

</div>
