<div class="self-center justify-center bg-gradient-to-r from-cyan-500 to-pink-100 order-first">
    <div class="container mx-auto">
      <h1 class="text-6xl font-bold inset-1 text-center text-pink-700">Current Events</h1>
    </div>
  <%= form_tag shows_path, method: :get, class: "mb-4" do %>
    <div class="flex items-center border-b border-teal-500 py-2 place-items-center">
      <%= select_tag :search, options_for_select(Show.pluck(:venue).uniq),  prompt: "Venue", class: "appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" %>
      <%= date_field_tag :date_input, nil, class: "appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" %>
      <%= submit_tag "Search", class: "flex-shrink-0 bg-gradient-to-r from-pink-100 to-cyan-500 hover:bg-blue-200 border-blue-100 hover:border-blue-200 text-sm border-4 text-grey-700 py-1 px-2 rounded" %>
    </div>
  <% end %>
  <div class="shows-data">
    <div class="flex-col self-center mx-auto lg:col-span-10">
      <div class="grid grid-cols 4 gap-4 mb-4">
        <div class="col-start-1 col-end-4">
          <% @shows.each do |show| %>
            <div class="border-4 border-y-rose-500/100">
              <p class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-indigo-500">
              <%= show.date.strftime('%m-%d-%Y')%>
              <p class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-indigo-500">
              <%= show.band %>
              </p>
              <p class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-indigo-500">
              <%= show.venue%>
              </p>
              <p class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-indigo-500">
              <%= show.doors %>
              </p>
              <% if !show.tickets.blank? %>
                <a href="<%= show.tickets%>" class="text-blue-500 underline">tickets</a>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
